*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}
nav a{
    text-decoration: none;
    margin: 0 10px;
    font-size: large;
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    border-radius:0px 20px;
    transition: all 0.5s;
}
.header nav {
    display: flex;
    justify-content: space-between;
  }


.home{
    height: fit-content;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
.home h2{
    font-size: 100px;
}
.home img{
    min-width: 300px;
    max-width: 400px;
    object-fit: cover;
}
#about{
    padding: 50px 20px;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#about h2{
    width: 400px;
}
h2{
    font-size: xx-large;
    text-align: center;
}
#about p{
    font-size: large;
    width: max(300px,600px);
}
#invention{
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
}
.invention-sec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
}
.image-inv p{
    text-align: center;
    margin: 20px 0;
}
.image-inv img{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}
#patents{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    padding: 50px 20px;
    align-content: center;
    justify-content: space-evenly;
}
.patent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.patent h2{
    margin-top: 20px;
}
.patcont{
    flex:0.5 1 200px;
    margin-top: 30px;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 10px;
}
.patcont p{
    text-align: center;
    width: 100%;
    text-decoration: none;
    margin-top: 20px;
}
.patcont p a{
    text-decoration: none;
    color: wheat;
    font-style: italic;
    font-weight: bolder;
    font-size: larger;
}
section{
    border-bottom: 2px solid whitesmoke;
}
nav a:hover{
    background-color: #ffc700;
    color: black;
    border-radius: 20px 0px;
}

